bin/Debug/net5.0/CodeCheckPOC
bin/Debug/net5.0/CodeCheckPOC.deps.json
bin/Debug/net5.0/CodeCheckPOC.dll
bin/Debug/net5.0/CodeCheckPOC.pdb
bin/Debug/net5.0/CodeCheckPOC.runtimeconfig.dev.json
bin/Debug/net5.0/CodeCheckPOC.runtimeconfig.json
bin/Debug/net5.0/ref/CodeCheckPOC.dll
obj/CodeCheckPOC.csproj.nuget.dgspec.json
obj/CodeCheckPOC.csproj.nuget.g.props
obj/CodeCheckPOC.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost
obj/Debug/net5.0/CodeCheckPOC.AssemblyInfo.cs
obj/Debug/net5.0/CodeCheckPOC.AssemblyInfoInputs.cache
obj/Debug/net5.0/CodeCheckPOC.assets.cache
obj/Debug/net5.0/CodeCheckPOC.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/CodeCheckPOC.csproj.FileListAbsolute.txt
obj/Debug/net5.0/CodeCheckPOC.csprojAssemblyReference.cache
obj/Debug/net5.0/CodeCheckPOC.dll
obj/Debug/net5.0/CodeCheckPOC.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/CodeCheckPOC.genruntimeconfig.cache
obj/Debug/net5.0/CodeCheckPOC.pdb
obj/Debug/net5.0/ref/CodeCheckPOC.dll
